.collection{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vh);
    background-color: var(--black);
    justify-content: center;
    align-items: center;
}


.collection-info{
    color: var(--white);
    grid-column: 4/-1;
    grid-row: 1/-3;
    z-index: 1;
    align-content: center;
    justify-items: left;
    text-align: center;
    width: 400px;
}

#collection-title{
    font-size: clamp(2rem, 20vw, 6rem);
    background-size: contain;
    background-position:left;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    background-clip: text;
    line-height: 80%;
    text-transform: uppercase;
    text-align: left;
}

#collection-description{
    padding-top: 2%;
}

#collection-button{
    margin-top: 20px;
}

.collection:hover .image-to-show {
    opacity: 1; 
}

.collection-image{
    object-fit:cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out; 
}



#CI1{
   grid-column: 11/15;
   grid-row: 5/10;
}

#CI2{
   grid-column: 16/19;
   grid-row: 12/17;
}

#CI3{
   grid-column: 16/20;
   grid-row: 4/10;
}

#CI4{
   grid-column: 10/14;
   grid-row: 12/16;
}

/* FEATURED */

#featured {
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start; 
  flex-wrap: wrap;
}

.featured-image-box {
  width: 20vw;
  height: 20vw;
  position: relative; /* To position the overlay correctly */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.featured-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.featured-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.featured-image-box:hover .featured-overlay {
  visibility: visible;
  opacity: 1;
}

.shop-all-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--white);
  color: var(--black);
}

.shop-all-box h1 {
  margin: 0;
  font-size: 2.5em; 
  text-align: left;
  height: 100%;
  width: 100%;
  padding-left: 1em;
  align-content: center;
  z-index: 100;
  color: var(--white);
}

#arrow{
  color: var(--white);
}

.shop-all-border{
  position: absolute;
  height: 60%;
  width: 70%;
  background-color: var(--black);
  border: 3px solid var(--black);
}

.shop-all-border:hover #arrow{
  color: var(--second);
}

.shop-all-border:hover{
  border-color: var(--second);
}



/* CATEGORIES */

.home-featured{
  position: relative;
  display: flex;
  width: 100%;
  height: 10vw;
  background-color:var(--black);
}

.home-featured-box{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-size: .8em;
}

.greenwood-ticker{
    color: var(--second);
}

/*ABOUT*/

.about{
  display: flex;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-image: url("/public/Assets/about-home.jpeg");
  background-size: cover;
  background-position:center;
}

.about-panel{
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    justify-content: center;
    margin-left: 45vw;
    margin-right: 10vw;
    margin-top: 10vw;
}

#about-button{
    color: var(--white);
    border-color: var(--black);
    background-color: var(--black);
    border-width: .2em;
    align-self: center;
    width: 400px;
    height: 200px;
    font-family:'Times New Roman', Times, serif;
}

#about-button:hover{
    border-color: var(--second);

}

#about-button:hover #arrow{
    color: var(--second);

}

.home-blurb{
  height: 150px;
  display: flex; 
}

.home-blurb-image{
  object-fit:contain;
  width: 100%;
  height: 100%;
  opacity: .65;
}

#home-blurb-info{
  padding-top: 30%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: right;

}



#home-blurb-text{
    color: var(--white);
    font-size: .9em;
    text-align: left;
}

#home-blurb-button{
  font-size: .9em;
}
