.collection{
    display: grid;
    width: 100vw;
    height: 110vh;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vh);
    background-color: var(--black);
    justify-content: center;
    align-items: center;
}


.collection-info{
    color: var(--white);
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 1;
    align-content: center;
    justify-items: center;
    text-align: center;
}

#collection-title{
    font-size: clamp(2rem, 20vw, 5rem);
    background-size: contain;
    background-position:left;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    background-clip: text;
    line-height: 80%;
    text-transform: uppercase;
}

#collection-description{
    padding-top: 2%;
}

#collection-button{
    margin-top: 20px;
}

.collection:hover .image-to-show {
    opacity: 1; 
}

.collection-image{
    object-fit:cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    opacity: 0; 
    transition: opacity 0.8s ease-in-out; 
}



#CI1{
   grid-column: 5/9;
   grid-row: 2/7;
}

#CI2{
   grid-column: 16/19;
   grid-row: 12/17;
}

#CI3{
   grid-column: 16/20;
   grid-row: 2/6;
}

#CI4{
   grid-column: 3/8;
   grid-row: 13/18;
}

/* FEATURED */

#featured {
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 120vh;
  justify-content: flex-start;
  align-items: flex-start; 
  flex-wrap: wrap;
}

.featured-image-box {
  width: 25vw;
  height: 50%;
  position: relative; /* To position the overlay correctly */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.featured-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.featured-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(170, 170, 170, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.featured-image-box:hover .featured-overlay {
  visibility: visible;
  opacity: 1;
}

.shop-all-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--white);
  color: var(--black);
}

.shop-all-box h1 {
  margin: 0;
  font-size: 2.5em; 
  text-align: left;
  height: 100%;
  width: 100%;
  padding-left: 1em;
  align-content: center;
  z-index: 100;
  color: var(--white);
}

#arrow{
  color: var(--white);
}

.shop-all-border{
  position: absolute;
  height: 60%;
  width: 70%;
  background-color: var(--black);
  border: 3px solid var(--black);
}

.shop-all-border:hover #arrow{
  color: var(--second);
}

.shop-all-border:hover{
  border-color: var(--second);
}



/* CATEGORIES */

.home-featured{
  position: relative;
  display: flex;
  width: 100%;
  height: 10vw;
  background-color:var(--black);
}

.home-featured-box{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-size: .8em;
}

.greenwood-ticker{
    color: var(--second);
}

/*ABOUT*/

.about{
  display: flex;
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-image: url("/public/Assets/greenwood.jpg");
  background-size: cover;
  background-position:center;
}

.about-panel{
    display: flex;
    flex-direction: column;
    min-width: 15em;
    width: 500px;
    height: 50vh;
    background-color: var(--black);
    justify-content: center;
}

#about-button{
    color: var(--white);
    border-color: var(--white);
    background-color: var(--black);
    margin-right: 10%;
    align-self: flex-end;
}

#about-button:hover{
    text-decoration: underline;
}

#about-text{
    margin-left: 10%;
    margin-right: 10%;
    align-self: flex-start;
    text-align: left;
    color: var(--white);
    font-size: 1.4em;
}
