.product-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  padding: 20px;
  min-height: 150vh;
  width: 100%;
  text-align: left;
  background-color: var(--white);
  padding: 6% 15%;
  align-content: baseline;
  justify-content: center;
}

.product-body {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  justify-content: center;  /* Center the .product-grid inside the .product-body */
  width: 100%;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 2em;
  width: 100%;
  justify-content: center;
}

.product-card {
  margin: 0; /* No default margins */
}

.product-card:not(:nth-child(4n+1)) {
  margin-left: 1em; /* Add gap between items, skip first in row */
}

.product-card:hover{
    cursor: pointer;
}

.product-image {
  width: 100%;
  height: 300px;
  border-radius: 2px;
  object-fit: cover;
}

.product-overlay{
  position: absolute; /* Position the overlay on top of the image */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  height: 300px;
  border-radius: 2px;
  background-color: rgba(170, 170, 170, 0.201); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden; /* Hide the overlay initially */
  opacity: 0; /* Initially, the overlay is invisible */
  transition: opacity 0.3s ease;
}

.product-card:hover .product-overlay {
  visibility: visible; /* Show the overlay when the image is hovered */
  opacity: 1;
}

.product-card:hover .product-name{
  text-decoration: underline;
}
.product-info{
  width: 100%;
}
.product-name, .product-size{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  font-weight: 100;
  margin: 0;
  color: var(--black);
  text-decoration: inherit;
}

.product-size{
  font-size: .9em;
}

.product-price {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .9em;
  color: var(--black);
  margin: 0;
  text-decoration: inherit;
  justify-self: left ;
}

.shop-header {
  display: grid;
  height: auto;
  grid-template-rows: auto auto; /* Two rows: banner and menu */
  width: 100%;
}

.shop-banner {
  display: grid;
  height: 70vh;
  grid-template-columns: 5fr 8fr;
  overflow: hidden;
  justify-self: center;
}

.shop-menu {
  display: flex; /* Flexbox for the menu itself */
  gap: 1em;
  justify-content: space-evenly;
  padding: 2em 0;
  width: 100%;
}

.shop-banner-text{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 3em;
  padding-right: 3em;
  flex-shrink: 1;
}

.shop-banner-left{
  flex-shrink: .5;
  color: var(--white);
  background-color: var(--black);
  grid-row: 1/-1;
  grid-column: 1/2;
  display: flex;
  align-content: center;
  justify-content: center;
  height: inherit;
}

.shop-banner-right{
  grid-row: 1/-1;
  grid-column: 2/-1;
  height: inherit;
}

.banner-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-button{
    color:var(--black);
    border-color:var(--black) ;
    font-size: 1em;
    text-transform: uppercase;
}

.shop-button.active {
    color:var(--white);
    border-color:var(--black) ;
    background-color: var(--black);
    font-size: 1em;
}


.product-image-box{
  position: relative;
}

.ring-size-filter {
  position: relative;
  display: inline-block;
}

.ring-size-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%; /* Position below the filter button */
  left: 0;
  width:auto;
  background-color: var(--black);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: .75em;
  z-index: 10;
}

.ring-sizes{
  display: flex;
  flex-direction: row;
  width: 12em;
  flex-wrap: wrap;
}

.dropdown-item {
  padding: 0.5em 1em;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  width: 4em;
  color:var(--white);
}

.dropdown-item.active {
  background-color: var(--second);
  color:var(--white);
}


#filter-image{
  padding-top: .2em;
  object-fit: cover;
  width: 1.5em;
}

.shop-button.active #filter-image{
  filter: invert(1);
}

.dropdown-label{
  padding: .5em;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
}

#shop-menu-label{
  color: var(--black);
}


.banner-spacer{
  height: 55px;
}